#digit-two, #digit-three{
  display: none;  
}

.number {
  background-image: url('number.png');
  background-repeat: no-repeat;
  width: 90px;
  height: 160px;
  margin: auto;
  display: inline-block;
}

.zero{background-position: -10px -11px;}
.one{background-position: -115px -11px;}
.two{background-position: -216px -11px;}
.three{background-position: -318px -11px;}
.four{background-position: -415px -11px;}
.five{background-position: -516px -11px;}
.six{background-position: -618px -11px;}
.seven {background-position: -723px -11px;}
.eight {background-position: -820px -11px;}
.nine {background-position: -925px -6px;}
.green {background-position-y: -179px;}
.red {background-position-y: -338px;}

@media only screen and (max-width: 1000px)
{

}