#digit-two, #digit-three{
  display: none;  
}

.number {
  background-image: url('../img/number.png');
  background-repeat: no-repeat;
  width: 90px;
  height: 160px;
  margin: auto;
  display: inline-block;
}

.zero{background-position: 0px 0px;}
.one{background-position: -96px 0px;}
.two{background-position: -192px 0px;}
.three{background-position: -288px 0px;}
.four{background-position: -384px 0px;}
.five{background-position: -480px 0px;}
.six{background-position: -576px 0px;}
.seven {background-position: -672px 0px;}
.eight {background-position: -768px 0px;}
.nine {background-position: -864px 0px;}
.green {background-position-y: -160px;}
.red {background-position-y: -320px;}

@media only screen and (max-width: 1000px)
{

}